In [2]:
import numpy as np
import pandas as pd
import dtale
import pandas_profiling as pp
from IPython.display import Javascript

# load accidents victims dataset

In [2]:
accident_victims_2019_df = pd.read_excel('../../data/bronze/TF_ACCIDENTS_VICTIMS_2019.xlsx')

In [3]:
accident_victims_2020_df = pd.read_excel('../../data/bronze/TF_ACCIDENTS_VICTIMS_2020.xlsx')

# load accidents only dataset

In [4]:
accident_2019_df = pd.read_excel('../../data/bronze/TF_ACCIDENTS_2019.xlsx')

In [5]:
accident_2020_df = pd.read_excel('../../data/bronze/TF_ACCIDENTS_2020.xlsx')

# load air pollution dataset

In [6]:
# check first 2 lines
! head -n 2 ../../data/bronze/Air_pollution.csv

In [7]:
air_pollution_df = pd.read_csv('../../data/bronze/Air_pollution.csv', delimiter=';')

In [8]:
air_pollution_df

,City,Location,Coordinates,Country Code,Pollutant,Source Name,Unit,Value,Last Updated,Country
0,Flanders,Belgium - Flanders - 40AB02 - BERENDRECHT,"51.34073,4.3218203",BE,PM10,EEA Belgium,µg/m³,39.2,2017-03-13T13:00:00+01:00,Belgium
1,Brussels,Belgium - Brussels - 41R012 - UCCLE,"50.79663,4.3585386",BE,SO2,EEA Belgium,µg/m³,2.0,2017-07-21T00:00:00+02:00,Belgium
2,Flanders,Belgium - Flanders - 42N046 - GELLIK,"50.882298,5.618874",BE,NO2,EEA Belgium,µg/m³,5.0,2017-07-21T00:00:00+02:00,Belgium
3,Flanders,Belgium - Flanders - 42R897 - ANTWERPEN,"51.250107,4.3421044",BE,SO2,EEA Belgium,µg/m³,0.0,2017-07-21T00:00:00+02:00,Belgium
4,Wallonia,Belgium - Wallonia - 43H201 - LIEGE,"50.624992,5.5474644",BE,SO2,EEA Belgium,µg/m³,0.5,2016-12-21T14:00:00+01:00,Belgium
...,...,...,...,...,...,...,...,...,...,...
610,Luxembourg,Belgium - Luxembourg - BETN132,"49.71928,5.630398",BE,O3,EEA Belgium,µg/m³,55.5,2020-12-20T02:00:00+01:00,Belgium
611,Oost-Vlaanderen,Belgium - Oost-Vlaanderen - BETR701,"51.05833,3.729298",BE,PM2.5,EEA Belgium,µg/m³,7.5,2020-12-20T02:00:00+01:00,Belgium
612,Antwerpen,Belgium - Antwerpen - BETR801,"51.209663,4.431821",BE,PM2.5,EEA Belgium,µg/m³,7.0,2020-12-20T02:00:00+01:00,Belgium
613,Antwerpen,Belgium - Antwerpen - BETR831,"51.348797,4.3397098",BE,NO2,EEA Belgium,µg/m³,10.0,2020-12-20T02:00:00+01:00,Belgium
614,Antwerpen,Belgium - Antwerpen - BETR893,"51.28138,4.385771",BE,NO2,EEA Belgium,µg/m³,16.5,2020-12-20T02:00:00+01:00,Belgium

# load osm dataset

In [9]:
osm_df = pd.read_excel('../../data/bronze/osm_data.xlsx')

# load bike stations dataset

In [10]:
bike_stations_df = pd.read_json('../../data/bronze/stations_villo.json')

# load village population statistics

**alternative**

In [3]:
village_populations_wiki_df = pd.read_html('https://nl.wikipedia.org/wiki/Tabel_van_Belgische_gemeenten', thousands='.')

In [6]:
village_populations_wiki_df = village_populations_wiki_df[0][["Gemeente", "Inwoners", "Opp.(km²)"]].reset_index(drop=True)

In [8]:
village_populations_wiki_df.columns = [['Village', '1846', '1990', '1947', '2000', '2021', 'kmOpp']]

In [9]:
village_populations_wiki_df = village_populations_wiki_df[["Village", "2000", "kmOpp"]]

In [11]:
village_populations_wiki_df.columns = ["Village", "Population", "km2_size"]

In [30]:
village_populations_wiki_df

        Village  Population km2_size
0     Antwerpen      446525   204,51
1          Gent      224180   156,18
2     Charleroi      200827   102,08
3          Luik      185639    69,39
4       Brussel      133859    32,61
..          ...         ...      ...
576  Martelange        1428    29,67
577  Herbeumont        1434    58,81
578  Daverdisse        1360    56,40
579       Mesen         964     3,58
580   Herstappe          85     1,35

[581 rows x 3 columns]

# Convert columns to best possible dtypes

In [31]:
accident_victims_2019_df = accident_victims_2019_df.convert_dtypes()
accident_victims_2020_df = accident_victims_2020_df.convert_dtypes()
accident_2019_df = accident_2019_df.convert_dtypes()
accident_2020_df = accident_2020_df.convert_dtypes()
air_pollution_df = air_pollution_df.convert_dtypes()
osm_df = osm_df.convert_dtypes()
bike_stations_df = bike_stations_df.convert_dtypes()
# village_populations_wiki_df = village_populations_wiki_df.convert_dtypes()

# data saving into silver

In [32]:
# we loaded and cleaned some data and store it from bronze into silver folder

In [33]:
# export without the index, add encoding, delimiter and rounded to two decimals
accident_victims_2019_df.to_csv("../../data/silver/accident_victims_2019_df.csv", encoding='utf-8', sep=';', index=False)
accident_victims_2020_df.to_csv("../../data/silver/accident_victims_2020_df.csv", encoding='utf-8', sep=';', index=False)
accident_2019_df.to_csv("../../data/silver/accident_2019_df.csv", encoding='utf-8', sep=';', index=False)
accident_2020_df.to_csv("../../data/silver/accident_2020_df.csv", encoding='utf-8', sep=';', index=False)
air_pollution_df.to_csv("../../data/silver/air_pollution_df.csv", encoding='utf-8', sep=';', index=False)
osm_df.to_csv("../../data/silver/osm_df.csv", encoding='utf-8', sep=';', index=False)
bike_stations_df.to_csv("../../data/silver/bike_stations_df.csv", encoding='utf-8', sep=';', index=False)
village_populations_wiki_df.to_csv("../../data/silver/village_populations_wiki_df.csv", encoding='utf-8', sep=';', index=False)

In [34]:
# parquet preserve the schema with optimal compression
accident_victims_2019_df.to_parquet("../../data/silver/accident_victims_2019_df.parquet")
accident_victims_2020_df.to_parquet("../../data/silver/accident_victims_2020_df.parquet")
accident_2019_df.to_parquet("../../data/silver/accident_2019_df.parquet")
accident_2020_df.to_parquet("../../data/silver/accident_2020_df.parquet")
air_pollution_df.to_parquet("../../data/silver/air_pollution_df.parquet")
# osm_df.to_parquet("../../data/silver/osm_df.parquet")
bike_stations_df.to_parquet("../../data/silver/bike_stations_df.parquet")
village_populations_wiki_df.to_parquet("../../data/silver/village_populations_wiki_df.parquet")